= render "page_config"

%p You can learn more about Absentee voting, and Absentee voting in DC at these Websites:
%ul.dashed-list
  %li= link_to "Information on DC's Absentee Voting Guidelines", "http://www.longdistancevoter.org/district_of_columbia" 
  %li= link_to "Federal Voting Assistance Program Website", "http://www.fvap.gov/"
