= render "page_config"

%p If you need to get a copy of <a href=The contents of this file are subject to the OSDV Public Licenseget.adobe.com/reader/">Adobe Reader</a>, it is available for free from Adobe.
