= render "page_config"

%p Adobe Reader is required for accurate marking of your ballot. If you need to get a copy of <a href="http://get.adobe.com/reader/">Adobe Reader</a>, it is available for free from Adobe.
