$blueprint-font-size  = 13px

// Columns

$sidebar_columns      = 6
$area_columns         = $blueprint-grid-columns - $sidebar_columns
$icon_columns         = 6
$main_columns         = $area_columns - $icon_columns - 1

// Colors

$c_bg_fill            = #e8e8e8
$c_border_color       = #aaa


@mixin link-list
  margin: 1em 0 0 0
  padding: 0
  li
    float: left
    display: block
    padding: 0 0 0 1em
    margin: 0