- selected ||= -1
- content_for :before_main do
  %aside
    %ul
      - 4.times do |sn|
        %li{ :class => (sn == selected) ? 'current' : nil }
          %p
            %span.step-number= (sn + 1)
            = tt ".step_#{sn + 1}.title"
