= render :partial => "option", :locals => { :option => 'physical' }

%footer
  = link_to "Start Mail-in Ballot", during_voting? ? overview_path('physical') : front_path, :id => "start-physical", :class => button_class(!during_voting?)
