%h1 Software Requirements

%p We recommend that you use Internet Explorer or Firefox with this service:

.icons
  = link_to image_tag('firefox.jpg'), 'http://getfirefox.org'
  = image_tag('ie.jpg')

%p
  In addition, you need reader software to open and markup PDF documents.
  The reader software MUST be Adobe Reader.

.icons
  = link_to image_tag('adobe-reader.jpg'), 'http://get.adobe.com/reader/'

%hr

%p If you use another browser, make sure you are saving a marked ballot:

%ol
  %li Save the ballot PDF to your hard drive
  %li Re-open useing Adobe Reader
  %li Mark ballot
  %li Save ballot
  %li Print ballot

%p
  If you mark your ballot using default readers (other than Adobe) in your browser,
  the ballot may be blank!

%hr

%p Download #{link_to("Adobe Reader", "http://get.adobe.com/reader/")}