= render "page_config"

%p In the November 2nd DC General Election, military stationed and citizens living abroad will have 3 options for absentee voting:</p>
%ul.dashed-list
  %li Digital Vote-by-Mail
  %li Digital Ballot Return
  %li Traditional Overseas Voting

%p Registered voters living overseas will receive a letter from the BOEE outlining the Digital Vote-by-Mail and Digital Ballot Return options. Digital Vote-by-Mail allows voters to receive a ballot online, mark a ballot online or by hand, and then return a ballot by mail. The Digital Ballot Return Pilot Project allows voters to mark and return ballots electronically. Voters will also receive the customary overseas voting package through the mail from the BOEE.