%header
  %a#logo{ :href => front_path }
    %h2 District of Columbia
    %h3 Digital Vote-by-Mail Service
  %nav
    %ul
      %li= link_to "Home", front_path
      %li= link_to "About", about_path, :target => "_blank"
      %li= link_to "Help", help_path
