- @stats ||= ReviewStats.new
%section#subheader
  #electiondate
    %p DC General Election
    %p November 2, 2010

  #pageheader
    = Time.zone.now.to_s(:short_day)
    - if logged_in?
      <br/>#{@stats.reviewed} / #{@stats.returned}
