%section#subheader
  #electiondate
    %p= t "organization"
    %p= t "date"
  
  - if @content_for_pageheader
    #pageheader= yield :pageheader
  - elsif @content_for_breadcrumbs
    #pageheader
      %ul.breadcrumb= yield :breadcrumbs
