%section#subheader
  #electiondate
    %p DC General Election
    %p November 2, 2010
  
  - if @content_for_pageheader
    #pageheader= yield :pageheader
  - elsif @content_for_breadcrumbs
    #pageheader
      %ul.breadcrumb= yield :breadcrumbs
